<launch>
  
  <arg name="scan_topic" default="scan" />
  <param name="scan_line" type="int" value="16" />

  <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
  <param name="mapping_skip_frame" type="int" value="1" />

  <!-- remove too closed points -->
  <param name="minimum_range" type="double" value="0.3"/>
  <node pkg="tf" type="static_transform_publisher" name="camera_init_to_velodyne" args="0 0 0 0 0 0 camera_init velodyne 100" />

  <param name="mapping_line_resolution" type="double" value="0.2"/>
  <param name="mapping_plane_resolution" type="double" value="0.4"/>

  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

  
  <node pkg="aloam_velodyne" type="ascanRegistration" name="ascanRegistration" output="screen" />

  <node pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" output="screen" />

  <node pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" output="screen" />

  <!--save map: rosrun map_server map_saver /home/zw/ws_loam/src/A-LOAM/map/map.yaml-->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam>
      odom_frame: aft_mapped
      base_frame: camera_init
      map_frame: map

      map_update_interval: 2.0 # Publish new map

      maxUrange: 5.5 # Should be just less than sensor range
      maxRange: 6.1 # Should be just greater than sensor range
      particles: 100 # Increased from 80

      # Update frequencies
      linearUpdate: 0.25
      angularUpdate: 0.5
      temporalUpdate: 2.0
      resampleThreshold: 0.5

      # Initial Map Size
      xmin: -15.0
      ymin: -15.0
      xmax: 15.0
      ymax: 15.0
      delta: 0.05

      # All default
      sigma: 0.05
      kernelSize: 1
      lstep: 0.1
      astep: 0.1
      iterations: 5
      lsigma: 0.075
      ogain: 3.0
      lskip: 0
      llsamplerange: 0.01
      llsamplestep: 0.01
      lasamplerange: 0.005
      lasamplestep: 0.005

    </rosparam>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" required="true"
    args="-d $(find aloam_velodyne)/rviz_cfg/gmapping.rviz"/>

</launch>
